body {
  background-color: Snow;
  color: rgb(10, 10, 10);
  margin-left: 0;
  margin-right: 0;
}

p, li, figcaption {
  font-family: serif;
}

header, h2, .hed {
  font-family: sans;
}

header {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

section {
  margin-left: 1em;
  margin-right: 1em;
}

em {
  text-decoration: underline;
  font-style: normal;
}

a:link, a:visited {
  color: rgb(0, 128, 0);
  text-decoration: none;
}

a:hover, a:active {
  color: rgb(0, 100, 0);
  text-decoration: underline;
}

.flashbulb {
  font-style: italic;
}

.hed {
  text-decoration: underline;
  font-size: 100%;
  margin-top: 0;
  font-weight: bold;
}

.instructions {
  font-size: 120%;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

section + section {
  margin-top: 5em;
}

p + p {
  margin-top: 2em;
}

.carousel {
  margin-left: 0;
  margin-right: 0;
}

.carousel-image-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 0.5em;
  border: 2px solid rgb(10, 10, 10);
}

.carousel figure {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.carousel figcaption {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.carousel-active figure {
  display: none;
}

.carousel-active figure.carousel-current {
  display: block;
}

.carousel-actions {
  display: grid;
  grid-template-columns: 5em auto 5em;
}

.carousel-actions button {
  color: rgb(10, 10, 10);
  background-color: OldLace;
  border: 0;
}
